<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707360060015-k5i0jrtio3kig8e5vvvq3ufe0nq8uva9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707360060015-k5i0jrtio3kig8e5vvvq3ufe0nq8uva9</string>
	<key>API_KEY</key>
	<string>AIzaSyBAzWzND_9_aig5qE-TypGsbrqYZc43fzg</string>
	<key>GCM_SENDER_ID</key>
	<string>707360060015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nuraiym.Protection3</string>
	<key>PROJECT_ID</key>
	<string>protection-8210e</string>
	<key>STORAGE_BUCKET</key>
	<string>protection-8210e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707360060015:ios:912a6f67ae6c7b54b2539a</string>
	<key>DATABASE_URL</key>
	<string>https://protection-8210e-default-rtdb.firebaseio.com</string>
</dict>
</plist>